body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(220 0 0 / 100%);
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 20%),
    rgb(0 0 0 / 20%) 30%,
    rgb(0 0 0 / 0%)
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
}

.styled:hover {
  background-color: rgb(255 0 0 / 100%);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

p,
label {
  font:
    1rem "Fira Sans",
    sans-serif;
}

input {
  margin: 0.4rem;
}

header,
footer {
  border-radius: 5px;
  padding: 10px;
  background-color: rebeccapurple;
  color: whitesmoke;
  text-align: center;
  grid-area: footer;
}
aside {
  grid-area: sidebar;
  border-right: 1px solid rebeccapurple;
}

#video-section {
  margin: 20px 5px 0 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 255px;
  margin-top: 60px;
  padding-top: 20px;
}

.video-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.images {
  width: 295px;
  height: 175px;
  margin-bottom: 5px;
}

.video-description {
  display: flex;
  flex-direction: row;
}

.channel-dp-container-2 {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  justify-self: flex-start;
}

.channel-dp-2 {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.video-details {
  width: 200px;
  margin-top: 3px;
  margin-left: 10px;
  justify-self: flex-end;
}

.video-title {
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
}

.channel-name {
  color: rgb(99, 95, 94);
  text-decoration: none;
  display: block;
  margin-top: 5px;
}

.channel-name:hover {
  color: rgb(53, 50, 49);
}

.views {
  color: rgb(99, 95, 94);
  text-decoration: none;
}

.fa-circle {
  color: rgb(99, 95, 94);
  font-size: 2px;
  transform: translateY(-3px);
}

.time {
  text-decoration: none;
  color: rgb(99, 95, 94);
}